@import '../../../helpers/scss/variables.scss';
@import '../../../helpers/scss/mixin.scss';

.moneyBlock {
  @include content-between-flex(ver);

  @media print {
    display: none;
  }
}

.prepaymentLabel {
  @include content-between-flex(ver);
  margin-right: 50px;
}

.prepaymentInput {
  margin-left: 10px;
  width: 120px;
  border: 1px solid transparent;
  border-bottom: 1px solid $main-accent-color;
  border-radius: 0;
  transition: all 0.25s linear;
  font-size: 25px;
  font-weight: 800;
  font-style: italic;

  &:active,
  &:focus {
    border-bottom: 1px solid $main-accent-color;
    border-radius: 5px;
  }

  &:disabled {
    color: inherit;
  }
}

.remainderPaid {
  @include content-between-flex(ver);
  font-weight: 800;

  & span {
    padding-left: 6px;
    min-width: 100px;
    text-align: right;
    font-size: 25px;
    font-style: italic;
  }
}
