.tableTitletLine {
  padding: 15px 30px;
  display: grid;
  grid-template-columns: 30px 60px 420px 100px 100px 150px 150px 110px 80px 1fr;
  align-items: center;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #1c2b4a;
  color: #fff;
}
