@import '../../../helpers/scss/variables.scss';

.grid {
  grid-template-columns: 30px 60px 420px 100px 100px 150px 150px 110px 88px 1fr;
  font-size: 12px;
}

.tableTitletLine {
  padding: 15px 30px;
  display: grid;
  align-items: center;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: $main-accent-color;
  color: $white-color;
}
