@import '../../helpers/scss/variables.scss';
@import '../../helpers/scss/mixin.scss';

.line {
  padding: 5px 15px;
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 14px;
  transition: all 0.2s linear;
  border-bottom: 1px solid $main-accent-color-opacity5;

  &:hover {
    background-color: rgba($main-accent-color, 0.1);
  }

  span {
    padding: 5px 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  input {
    padding: 0;
    width: 100%;
    border: none;
    text-align: center;

    &:disabled {
      color: $main-accent-color;
    }
  }
}
