@import '../../helpers/scss/variables.scss';
@import '../../helpers/scss/mixin.scss';

.customerOrderItem {
  padding: 10px 15px;
  display: grid;
  grid-template-columns: 30px 60px 420px 100px 100px 150px 150px 110px 80px 1fr;
  align-items: center;
  text-align: center;
  font-size: 14px;
  transition: all 0.2s linear;
  border-bottom: 1px solid $main-accent-color-opacity5;

  &:hover {
    background-color: rgba($main-accent-color, 0.1);
  }
}

.nameClient {
  cursor: pointer;
}

.noteForOrder {
  padding: 0 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.status {
  padding: 5px 2px;
  font-size: 11px;
  border-radius: 3px;
  color: #fff;
}

.processed {
  background-color: $main-accent-color;
}

.assembled {
  background-color: $main-orange-color;
}

.notProcessed {
  background-color: $main-red-color;
}

.givenAway {
  background-color: $main-green-color;
}
