.customerOrderItem {
  padding: 10px 15px;
  display: grid;
  grid-template-columns: 30px 60px 420px 100px 100px 150px 150px 110px 80px 1fr;
  align-items: center;
  text-align: center;
  font-size: 14px;
  transition: all 0.2s linear;

  &:hover {
    background-color: hsla(220, 45%, 20%, 0.3);
  }
}

.nameClient {
  cursor: pointer;
}

.noteForOrder {
  padding: 0 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
