$main-font: 'Roboto', sans-serif;
$main-font-color: #1c2b4a;

$white-color: #fff;
$black-color: #000;
$black-opacity5: rgba(0, 0, 0, 0.5);
$black-opacity8: rgba(0, 0, 0, 0.8);
$grey-color: #ececec;
$grey-opacity65: rgba($grey-color, 0.65);

$main-bg-color: #efefef;
$main-accent-color: #1c2b4a;
$main-accent-color-opacity5: rgba($main-accent-color, 0.5);
$hover-accent-color: #314775;
$hover-slider-color: #213357;

$main-green-color: #98c379;
$main-orange-color: #d19a66;
$main-red-color: #de6a73;

$input-border-color: #909090;
$input-disabled-color: #dadada;
