.modalContractors {
  position: relative;
  min-width: 550px;
  height: 450px;
  position: relative;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;

  & .searchInput {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  & .list {
    height: 300px;

    & li {
      padding: 5px 0;
      cursor: pointer;

      &:hover {
        background: #eeeeee;
      }
    }
  }

  & button {
    top: 4px;
    right: 4px;
  }
}

.contarctorClose {
  top: 4px;
  right: 4px;
  height: 25px;
  transform: translateY(0);
}
