.ordersControls {
  display: flex;
  align-items: center;
  width: 500px;
  margin-bottom: 36px;

  & input {
    margin-right: 25px;
  }
}

.controlsButtons {
  display: flex;
  align-items: center;

  & button {
    margin-right: 20px;
  }
}
