@import '../../helpers/scss/variables.scss';
@import '../../helpers/scss/mixin.scss';

.ordersControls {
  @include content-center-flex(ver);
  width: 500px;
  margin-bottom: 36px;

  & input {
    margin-right: 25px;
  }
}

.controlsButtons {
  display: flex;
  align-items: center;

  & button {
    margin-right: 20px;
  }
}
