.orderInfo {
  width: 98%;
  position: absolute;
  bottom: 8px;
  left: 15px;
  display: grid;
  grid-template-columns: 100px 690px 80px 100px 60px 160px 1fr;
  align-items: flex-start;
  text-align: center;
  font-size: 12px;
  grid-template-areas: 'numOrder . totalProduct averagePrice . totalSum .';

  & span {
    display: block;
  }

  & .numbers {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 600;
  }

  & .numOrder {
    grid-area: numOrder;
  }

  & .totalProduct {
    grid-area: totalProduct;
  }

  & .averagePrice {
    grid-area: averagePrice;
  }

  & .totalSum {
    grid-area: totalSum;
  }
}
