@import '../../../helpers/scss/variables.scss';
@import '../../../helpers/scss/mixin.scss';

.modalPrint {
  position: absolute;
  padding: 35px;
  width: 250mm;
  height: 848px;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: $white-color;
  font-size: 14px;
  overflow-y: scroll;

  @media print {
    position: relative;
    top: 0;
    left: 44%;
    width: 250mm;
    height: 100%;
    overflow-y: initial;
    font-size: 18px;
  }
}

.infoBlock {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $black-color;

  & .logo {
    width: 400px;
  }

  & .infoMag {
    li {
      height: 20px;
      text-align: right;
    }
  }
}

.orderInfoBlock {
  @include content-between-flex;
  margin-bottom: 20px;

  .numOrder {
    font-size: 25px;
    margin-bottom: 20px;

    & span {
      margin-left: 80px;
    }
  }
  .calculatedTotals {
    width: 400px;

    & li {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      text-align: right;
      height: 25px;
      line-height: 14px;
    }

    & span {
      margin-left: 40px;
      min-width: 50px;
      max-width: 200px;
      display: inline-block;
    }

    & .liTitle {
      width: 160px;
    }

    .pay,
    .pay + span {
      font-weight: 800;
    }
  }
}

.clientInfoBlock {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 25px;

  li {
    height: 25px;
    line-height: 25px;
  }

  span {
    width: calc(100% - 100px);
    text-align: center;
    display: inline-block;
  }
}

.customerOrderList {
  margin-bottom: 30px;

  & span {
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    border-right: 1px solid $black-color;
  }

  & span:last-child {
    overflow: hidden;
    border-right: none;
  }
}

.lineProduct {
  display: grid;
  grid-template-columns: 35px 110px 330px 55px 55px 55px 80px 1fr;
  border: 1px solid $black-color;
  border-top: none;
  font-size: 14px;
}

.lineTitle {
  composes: lineProduct;
  border-top: 1px solid $black-color;
  background-color: $grey-color;
  font-size: 12px;

  @media print {
    background-color: $grey-color;
    color-adjust: exact;
  }
}

.lineMargin {
  composes: lineProduct;
  @media print {
    margin-bottom: 15px;
  }
}
