@import '../../helpers/scss/variables.scss';
@import '../../helpers/scss/mixin.scss';

.rootWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main-accent-color;
}

.rootInner {
  width: 300px;
  padding: 40px 30px 80px;
  display: flex;
  flex-direction: column;
  background-color: $white-color;
  border-radius: 5px;
}

.input {
  margin-bottom: 30px;
  min-height: 38px;
}

.login {
  padding: 10px;
  color: $white-color;
  text-align: center;
  border: none;
  background-color: $main-accent-color;
  border-radius: 5px;
  outline: none;
  transition: all 0.25s linear;
  cursor: pointer;

  &:hover {
    background-color: $hover-accent-color;
  }
}
