@import '../../helpers/scss/mixin.scss';
@import '../../helpers/scss/variables.scss';

.mainAside {
  position: relative;
  grid-area: aside;
  width: 180px;
  height: 100%;
  background-color: $main-accent-color;
  color: $white-color;
  box-shadow: 0 5px 15px $black-opacity8;
  z-index: 10;

  @media print {
    display: none;
  }
}
