@import '../../helpers/scss/variables.scss';
@import '../../helpers/scss/mixin.scss';

.loaderWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $main-bg-color;
  z-index: 99;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.spinnerSmag {
  font-weight: 800;
  letter-spacing: 7px;

  .wordS {
    animation: animSpinner 1.1s infinite;
  }
  .wordM {
    animation: animSpinner 1.1s 0.2s infinite;
  }
  .wordA {
    animation: animSpinner 1.1s 0.4s infinite;
  }
  .wordG {
    animation: animSpinner 1.1s 0.6s infinite;
  }
}

@keyframes animSpinner {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
