.windowOrders {
  position: relative;
  padding: 0 15px 55px;
  margin-bottom: 25px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.048);
}

.tableTitletLine {
  padding: 15px 30px;
  display: grid;
  grid-template-columns: 30px 60px 200px 500px 60px 100px 60px 160px 1fr;
  align-items: center;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #1c2b4a;
  color: #fff;
}

.customerOrderList {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.233);
}

.orderInfo {
  width: 98%;
  position: absolute;
  bottom: 8px;
  left: 15px;
  display: grid;
  grid-template-columns: 100px 690px 80px 100px 60px 160px 1fr;
  align-items: flex-start;
  text-align: center;
  font-size: 12px;
  grid-template-areas: 'numOrder . totalProduct averagePrice . totalSum .';

  & span {
    display: block;
  }

  & .numbers {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 600;
  }

  & .numOrder {
    grid-area: numOrder;
  }

  & .totalProduct {
    grid-area: totalProduct;
  }

  & .averagePrice {
    grid-area: averagePrice;
  }

  & .totalSum {
    grid-area: totalSum;
  }
}
