.navMenuItem {
  position: relative;
  display: flex;
  align-items: center;

  &::after {
    content: '';
    position: absolute;
    top: 25%;
    left: 40px;
    display: block;
    height: 50%;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 12;
  }
}

.navItemLink {
  padding: 10px 10px 10px 55px;
  width: 100%;
  display: block;
  text-decoration: none;
  color: #fff;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #273757;
    outline: none;
  }

  & .iconItem {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.navItemLinkActive {
  background-color: #273757;
}
