@import '../../helpers/scss/variables.scss';
@import '../../helpers/scss/mixin.scss';

.navMenuItem {
  position: relative;
  @include content-center-flex(ver);

  &::after {
    content: '';
    position: absolute;
    top: 25%;
    left: 40px;
    display: block;
    height: 50%;
    width: 1px;
    background-color: rgba($white-color, 0.5);
    z-index: 12;
  }
}

.navItemLink {
  padding: 10px 10px 10px 55px;
  width: 100%;
  display: block;
  text-decoration: none;
  color: $white-color;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $hover-accent-color;
    outline: none;
  }

  & .iconItem {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.navItemLinkActive {
  background-color: $hover-accent-color;
}
