@import '../../../helpers/scss/variables.scss';
@import '../../../helpers/scss/mixin.scss';

.searchInput {
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.list {
  height: 300px;
  font-size: 14px;

  li {
    padding: 5px 0;
    cursor: pointer;

    &:hover {
      background: $grey-color;
    }
  }
}

button {
  top: 4px;
  right: 4px;
}

.contarctorClose {
  top: 4px;
  right: 4px;
  height: 25px;
  transform: translateY(0);
}
