.headerLineTabs {
  background-color: #1c2b4a;
}

.lineListTabs {
  min-height: 45px;
  margin-left: 50px;
  display: flex;
  align-items: flex-end;
}

.tabLi {
  position: relative;
  width: 200px;
  height: 30px;
  margin: 0 1px;
  padding-right: 25px;
  font-style: italic;
  white-space: nowrap;
  line-height: 30px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: rgba(239, 239, 239, 0.5);
  text-overflow: ellipsis;
  overflow: hidden;
  outline: none;
}

.tab {
  padding-left: 9px;
  display: block;
  cursor: pointer;
}

.tabActive {
  font-style: normal;
  background-color: #efefef;
  & + .tabCloseBtn {
    background-color: #efefef;
  }
}

.tabCloseBtn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 25px;
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  transition: all 0.2s linear;

  &:hover::before {
    background-color: #de6a73;
    transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
  }

  &:hover::after {
    background-color: #de6a73;
    transform: translate(-50%, -50%) rotate(-45deg) scale(1.2);
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 70%;
    height: 1px;
    background-color: #000;
    transition: all 0.2s linear;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
