.headerLineTabs {
  position: relative;
  background-color: #1c2b4a;
}

.wrapperLineListTabs {
  min-height: 45px;
  margin: 0 auto;
  width: 1500px;
  display: flex;
  // grid-template-columns: repeat(7, 200px);
  justify-content: flex-start;
  align-items: flex-end;
  overflow: hidden;
}

.sliderBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  outline: none;
  transition: all 0.3s linear;
  cursor: pointer;

  &.leftBtn {
    left: 30px;
  }

  &.rightBtn {
    right: 30px;
  }

  &:hover {
    background-color: #213357;
  }
}

.lineListTabs {
  position: relative;
  display: flex;
  // grid-template-columns: repeat(7, 200px);
  justify-content: flex-start;
  align-items: flex-end;
  grid-column-gap: 2px;
  transition: all 0.3s linear;
}

.tabLi {
  position: relative;
  height: 30px;
  width: 200px;
  padding-right: 25px;
  font-style: italic;
  white-space: nowrap;
  line-height: 30px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: rgba(239, 239, 239, 0.5);
  text-overflow: ellipsis;
  overflow: hidden;
  outline: none;
}

.tab {
  padding-left: 9px;
  display: block;
  cursor: pointer;
}

.tabActive {
  font-style: normal;
  background-color: #efefef;
  & + button {
    position: absolute;
    height: 100%;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #efefef;
  }
}
