@import '../../../helpers/scss/variables.scss';
@import '../../../helpers/scss/mixin.scss';

.defaultBtn {
  min-height: 30px;
  min-width: 90px;
  padding: 5px;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.2s linear;
  outline: none;

  &:hover {
    opacity: 1;
  }

  &.removeBtn {
    background-color: $main-red-color;
  }

  &.canselBtn {
    background-color: $main-accent-color;
    color: $white-color;
  }
}
