@import '../../helpers/scss/variables.scss';
@import '../../helpers//scss/mixin.scss';

.debt {
  font-weight: 500;

  &.badDebt {
    color: $main-red-color;
  }

  &.goodDebt {
    color: $main-green-color;
  }
}
