@import '../../../helpers/scss/variables.scss';
@import '../../../helpers/scss/mixin.scss';

.removeModal {
  position: relative;
  padding: 50px;
  background-color: $white-color;
  text-align: center;
  border-radius: 5px;

  button[datatype='closeBtn'] {
    position: absolute;
    top: 15px;
    right: 15px;
    transform: translateY(0);
    height: 25px;
  }
}

.modalTitle {
  margin-bottom: 30px;
}

.modalText {
  margin-bottom: 15px;
}

.accentText {
  color: $main-red-color;
}

.blockBtn {
  width: 200px;
  margin: 50px auto 0;
  @include content-between-flex;
}
