.companyBlock {
  min-height: 70px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);

  & .logoWrapper {
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    overflow: hidden;
  }
}

.logo {
  width: 30px;
}

.companyName {
  width: 120px;
  font-size: 18px;
}

.logoutBtn {
  //
}
