@import '../../helpers/scss/variables.scss';
@import '../../helpers/scss/mixin.scss';

.companyBlock {
  min-height: 70px;
  padding: 10px;
  @include content-between-flex;
  border-bottom: 1px solid $grey-opacity65;

  & .logoWrapper {
    margin-right: 15px;
    @include content-center-flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $white-color;
    overflow: hidden;
  }
}

.logo {
  width: 30px;
}

.companyName {
  width: 120px;
  font-size: 18px;
}

.logoutBtn {
  height: 24px;
  width: 24px;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}
