.orderPage {
  padding: 36px;
}

.ordersSettings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 439px;
  margin-bottom: 36px;
}

.contractorsBlock {
  display: flex;
  width: 300px;
  color: #fff;

  & input {
    width: 90%;
  }
}

.ordersSearch {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.settingButtons {
  display: flex;
  align-items: center;
}

.settingButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  min-height: 30px;
  border: none;
  border-radius: 5px;
  background-color: #1c2b4a;
  transition: all 0.25s linear;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: #314775;
  }

  &.addBtn {
    width: 55px;
    margin: 0 3px;

    &:hover {
      background-color: transparent;
      border: #1c2b4a 1px solid;
    }
  }
  &.changeBtn {
    width: 55px;
    margin: 0 3px;

    &:hover {
      background-color: transparent;
      border: #1c2b4a 1px solid;
    }
  }
  &.removeBtn {
    width: 55px;
    margin: 0 3px;

    &:hover {
      background-color: transparent;
      border: #1c2b4a 1px solid;
    }
  }
}

.dotsBtn {
  width: 40px;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.orderWrapper {
  padding: 0 15px;
  background-color: #fff;
}

.windowOrders {
  padding: 0 15px 45px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.048);
}

.customerOrderTitletLine {
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #1c2b4a;
  color: #fff;
}

.lineProduct {
  padding: 10px 15px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & input {
    padding: 0;
    border: none;
    text-align: center;
  }
}

.customerOrderList {
  min-height: 500px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.233);
}

.checkboxItem {
  position: absolute;
}

.numSpan {
  width: 4%;
  text-align: left;
  text-align: center;
}

.nameSpan {
  width: 15%;
}

.artSpan {
  width: 15%;
}

.positionsSpan {
  width: 31%;
}

.colorSpan {
  width: 33%;
}

.quantitySpan,
.sumSpan,
.prepaymentSpan,
.noteSpan {
  width: 12%;
}
