/*Checkboxes styles*/
.checkboxLabel {
  width: 15px;
  height: 15px;
}

.checkboxInput[type='checkbox'] {
  display: none;
}

.checkboxInput[type='checkbox'] + .checkboxLabel {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: #ddd;
  cursor: pointer;
}

.checkboxInput[type='checkbox'] + .checkboxLabel:last-child {
  margin-bottom: 0;
}

.checkboxInput[type='checkbox'] + .checkboxLabel:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #1c2b4a;
  position: absolute;
  left: 5px;
  top: -3px;
  opacity: 0.6;
  transition: all 0.25s, border-color 0.25s;
}

.checkboxInput[id='checkbox-main'] + .checkboxLabel:before {
  border: 2px solid #ffffff;
}

.checkboxInput[type='checkbox']:checked + .checkboxLabel:before {
  width: 10px;
  top: -7px;
  left: 12px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(45deg);
}

// .checkboxOther {
//   display: block;
//   cursor: pointer;
//   user-select: none;
//   position: relative;
// }

// .checkboxOther input[type='checkbox'] {
//   position: absolute;
//   z-index: -1;
//   opacity: 0;
//   display: block;
//   width: 0;
//   height: 0;
// }

// .checkboxOther span {
//   display: block;
//   position: relative;
// }

// .checkboxOther span:before {
//   content: '';
//   display: inline-block;
//   width: 18px;
//   height: 18px;
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);
//   background: url('../../assets/images/checkbox-3.png') 0 0 no-repeat;
//   background-size: cover;
// }

// /* Checked */
// .checkboxOther input[type='checkbox'] + span:after {
//   content: '';
//   opacity: 0;
//   transition: opacity 0.3s ease;
// }

// .checkboxOther input[type='checkbox']:checked + span:after {
//   display: inline-block;
//   width: 18px;
//   height: 18px;
//   position: absolute;
//   left: 9px;
//   top: -12px;
//   background: url('../../assets/images/checkbox-4.png') 0 0 no-repeat;
//   opacity: 1;
//   background-size: cover;
// }

// /* Focus */
// .focused span:before {
//   box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
// }

// /* Hover */
// .checkboxOther span:hover:after {
//   filter: brightness(110%);
// }

// /* Active */
// .checkboxOther span:active:before,
// .checkboxOther span:active:after {
//   filter: brightness(80%);
// }

// /* Disabled */
// .checkboxOther input[type='checkbox']:disabled + span {
//   color: #666;
//   cursor: default;
// }

// .checkboxOther input[type='checkbox']:disabled + span:before,
// .checkboxOther input[type='checkbox']:disabled + span:after {
//   filter: grayscale(100%);
//   opacity: 0.6;
// }
