.settingButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  min-height: 30px;
  border: none;
  border-radius: 5px;
  background-color: #1c2b4a;
  transition: all 0.25s linear;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: #314775;
  }

  &.addWithCopyBtn {
    width: 55px;
  }

  &:disabled:hover {
    background-color: #1c2b4a;
    cursor: default;
  }
}
