.orderPage {
  padding: 36px;
}

.ordersSettings {
  margin-bottom: 20px;
}

.contractorInfo {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contractorInfoInner {
  width: 850px;
  & span {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.contractorInfoInnerDept {
  display: flex;
  align-items: center;
  font-weight: 800;

  & span {
    padding-left: 6px;
    min-width: 100px;
    text-align: right;
    font-size: 25px;
    font-style: italic;
  }
}

.contractorsBlock {
  display: flex;
  align-items: center;
  width: 450px;
  color: #fff;

  & input {
    width: 90%;
  }
}

.settingControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moneyBlock {
  display: flex;
  align-items: center;
}

.prepaymentLabel {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.prepaymentInput {
  margin-left: 10px;
  width: 120px;
  border: 1px solid transparent;
  border-bottom: 1px solid #1c2b4a;
  border-radius: 0;
  transition: all 0.25s linear;
  font-size: 25px;
  font-weight: 800;
  font-style: italic;

  &:active,
  &:focus {
    border-bottom: 1px solid #1c2b4a;
    border-radius: 5px;
  }
}

.remainderPaid {
  display: flex;
  align-items: center;
  font-weight: 800;

  & span {
    padding-left: 6px;
    min-width: 100px;
    text-align: right;
    font-size: 25px;
    font-style: italic;
  }
}

.settingButtons {
  display: flex;
  align-items: center;

  // labelSaveBtnIstSaved

  & .saveBtn {
    width: 0;
    height: 0;
    opacity: 0;

    // &::before {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   content: '';
    //   display: block;
    //   width: 110px;
    //   height: 30px;
    //   background-color: #1c2b4a;
    //   border-radius: 5px;
    // }
  }
}

.labelSaveBtnNotSaved {
  margin-left: 20px;
  padding-right: 7px;
  position: relative;
  width: 140px;
  height: 30px;
  background-color: #de6a73;
  border-radius: 5px;
  cursor: pointer;
  text-align: right;
  font-size: 12px;
  line-height: 30px;
  transition: all 0.4s linear;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    width: 55px;
    height: 30px;
    background: url(../../assets/images/iconNotSaved.svg), #1c2b4a;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28%;
    border-radius: 5px;
    transition: all 0.4s linear;
  }
}

.labelSaveBtnIstSaved {
  margin-left: 20px;
  padding-left: 16px;
  position: relative;
  width: 140px;
  height: 30px;
  background-color: #98c379;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
  font-size: 12px;
  line-height: 30px;
  transition: all 0.4s linear;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    display: block;
    width: 55px;
    height: 30px;
    background: url(../../assets/images/iconSaved.svg), #1c2b4a;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28%;
    border-radius: 5px;
    transition: all 0.4s linear;
  }
}

.settingButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  min-height: 30px;
  border: none;
  border-radius: 5px;
  background-color: #1c2b4a;
  transition: all 0.25s linear;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: #314775;
  }

  &.addBtn {
    width: 55px;
    margin-right: 10px;

    &:hover {
      background-color: transparent;
      border: #1c2b4a 1px solid;
    }
  }
  &.removeBtn {
    width: 55px;

    &:hover {
      background-color: transparent;
      border: #1c2b4a 1px solid;
    }
  }
}

.dotsBtn {
  width: 120px;
  border: none;
  font-size: 10px;
  color: #fff;
}

.contractorName {
  margin-left: 20px;
  color: #1c2b4a;
}

.windowOrders {
  position: relative;
  padding: 0 15px 55px;
  margin-bottom: 25px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.048);
}

.tableTitletLine {
  padding: 15px 30px;
  display: grid;
  grid-template-columns: 30px 60px 200px 500px 60px 100px 60px 160px 1fr;
  align-items: center;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #1c2b4a;
  color: #fff;
}

.lineProduct {
  padding: 10px 15px;
  position: relative;
  display: grid;
  grid-template-columns: 30px 60px 200px 500px 60px 100px 60px 160px 1fr;
  align-items: center;
  text-align: center;

  & input {
    padding: 0;
    width: 100%;
    border: none;
    text-align: center;

    &.disabled {
      color: inherit;
    }
  }
}

.customerOrderList {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.233);
}

.vendorCodeSpan .quantitySpan,
.colorSpan,
.priceSpan,
.discountSpan,
.sumSpan,
.noteSpan {
  &:disabled {
    background-color: transparent;
  }
}

.orderInfo {
  width: 98%;
  position: absolute;
  bottom: 12px;
  left: 15px;
  display: grid;
  // grid-template-columns: 170px 200px 180px 240px 190px;
  grid-template-columns: 30px 60px 200px 500px 80px 100px 60px 160px 1fr 100px;
  align-items: flex-start;
  text-align: center;
  font-size: 12px;

  & span {
    display: block;
  }

  & .numbers {
    font-size: 14px;
  }
}

.noteForOrderLabel {
  display: flex;

  & span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 100px;
    background: #1c2b4a;
    color: #fff;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }
}

.noteForOrder {
  width: 100%;
  padding: 5px 10px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
