.orderPage {
  position: relative;
  padding: 36px;
}

.ordersSettings {
  margin-bottom: 20px;
}

.contractorInfo {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contractorInfoInner {
  width: 850px;
  & span {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @media print {
    display: none;
  }
}

.contractorInfoInnerDept {
  display: flex;
  align-items: center;
  font-weight: 800;

  & span {
    padding-left: 6px;
    min-width: 100px;
    text-align: right;
    font-size: 25px;
    font-style: italic;
  }
}

.contractorsBlock {
  display: flex;
  align-items: center;
  width: 450px;
  color: #fff;

  & input {
    width: 90%;
  }
}

.settingControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moneyBlock {
  display: flex;
  align-items: center;
}

.prepaymentLabel {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.prepaymentInput {
  margin-left: 10px;
  width: 120px;
  border: 1px solid transparent;
  border-bottom: 1px solid #1c2b4a;
  border-radius: 0;
  transition: all 0.25s linear;
  font-size: 25px;
  font-weight: 800;
  font-style: italic;

  &:active,
  &:focus {
    border-bottom: 1px solid #1c2b4a;
    border-radius: 5px;
  }

  &:disabled {
    color: inherit;
  }
}

.remainderPaid {
  display: flex;
  align-items: center;
  font-weight: 800;

  & span {
    padding-left: 6px;
    min-width: 100px;
    text-align: right;
    font-size: 25px;
    font-style: italic;
  }
}

.contractorsBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  min-height: 30px;
  font-size: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: #1c2b4a;
  transition: all 0.25s linear;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: #314775;
  }
}

.contractorName {
  margin-left: 20px;
  color: #1c2b4a;
}

.noteForOrderLabel {
  display: flex;

  & span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 100px;
    background: #1c2b4a;
    color: #fff;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }

  @media print {
    display: none;
  }
}

.noteForOrder {
  width: 100%;
  padding: 5px 10px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
