@import '../../../helpers/scss/variables.scss';
@import '../../../helpers/scss/mixin.scss';

.clientInfo {
  margin-bottom: 20px;
  @include content-between-flex;

  @media print {
    display: none;
  }
}

.clientInfoInner {
  width: 33%;
  & span {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.clientInfoInnerDept {
  @include content-between-flex(ver);
  justify-content: flex-end;
  width: 25%;
  font-weight: 800;

  & span {
    padding-left: 6px;
    min-width: 100px;
    text-align: right;
    font-size: 25px;
    font-style: italic;
  }
}

.clientsBlock {
  @include content-between-flex(ver);
  width: 41%;
  color: $white-color;

  & input {
    width: 90%;
  }
}

.settingControls {
  @include content-between-flex();
}

.moneyBlock {
  @include content-between-flex(ver);
}

.prepaymentLabel {
  @include content-between-flex(ver);
  margin-right: 50px;
}

.prepaymentInput {
  margin-left: 10px;
  width: 120px;
  border: 1px solid transparent;
  border-bottom: 1px solid $main-accent-color;
  border-radius: 0;
  transition: all 0.25s linear;
  font-size: 25px;
  font-weight: 800;
  font-style: italic;

  &:active,
  &:focus {
    border-bottom: 1px solid $main-accent-color;
    border-radius: 5px;
  }

  &:disabled {
    color: inherit;
  }
}

.remainderPaid {
  @include content-between-flex(ver);
  font-weight: 800;

  & span {
    padding-left: 6px;
    min-width: 100px;
    text-align: right;
    font-size: 25px;
    font-style: italic;
  }
}

.clientsBtn {
  @include content-center-flex;
  width: 120px;
  min-height: 30px;
  font-size: 10px;
  color: $white-color;
  border: none;
  border-radius: 5px;
  background-color: $main-accent-color;
  transition: all 0.25s linear;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: $hover-accent-color;
  }

  &:disabled {
    background-color: $main-accent-color;
    cursor: default;
  }
}

.clientName {
  margin-left: 20px;
  color: $main-accent-color;
}
