@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
// font-family: 'Roboto', sans-serif;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #1c2b4a;
  background-color: #efefef;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

input {
  padding: 5px 10px;
  border: 1px solid rgb(144, 144, 144);
  border-radius: 5px;

  &:focus {
    border: 1px solid #5dff80;
    outline: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.testViews {
  margin-top: 100px;
  font-size: 80px;
  text-align: center;
}

.main-wrapper {
  display: flex;
}

.main-aside {
  position: relative;
  width: 250px;
  height: 100vh;
  background-color: #1c2b4a;
  color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
  z-index: 10;
}

.aside-nav {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 15px;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10%;
    display: block;
    height: 1px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 12;
  }
}

.headerMainWrapper {
  position: relative;
  width: 100%;
}

.main-content {
  width: 100%;
}
