@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #1c2b4a;
  background-color: #efefef;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

input {
  padding: 5px 10px;
  border: 1px solid rgb(144, 144, 144);
  border-radius: 5px;
  background-color: transparent;

  &:focus {
    border: 1px solid #1c2b4a;
    outline: none;
  }

  &:disabled {
    background-color: transparent;
    color: #dadada;

    &::placeholder {
      color: #dadada;
    }
  }
}

// !для скрытия стрелочек в инпуте типа "number"

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.testViews {
  margin-top: 100px;
  font-size: 80px;
  text-align: center;
}

.red {
  color: #de6a73;
}
.green {
  color: #98c379;
}

.main-wrapper {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-areas: 'aside mainContent';
}

.headerMainWrapper {
  position: relative;
  grid-area: mainContent;
}

.main-content {
  width: 100%;
}

.whiteLine {
  background-color: #fff;
}

.greyLine {
  background-color: rgba(243, 243, 243, 0.65);
}

.Scrollbars {
  background: #1c2b4a;
}

/*
 * Стили компонента Modal
 */
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.Modal {
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);
}
/*
 * Стили компонента Modal
 */
.ff {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
