@import '../../../helpers/scss/variables.scss';

.tableTitletLine {
  padding: 15px 30px;
  display: grid;
  grid-template-columns: 30px 60px 420px 100px 100px 100px 100px 200px 150px 1fr;
  align-items: center;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: $main-accent-color;
  color: $white-color;
}
