@import '../../../helpers/scss/variables.scss';

.grid {
  grid-template-columns: 1fr 1fr 7fr 1fr 1fr 2fr 2fr 2fr 2fr 3fr;
  font-size: 12px;
}

.tableTitletLine {
  padding: 15px 30px;
  display: grid;
  align-items: center;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: $main-accent-color;
  color: $white-color;
}
