@import '../../../helpers/scss/variables.scss';
@import '../../../helpers/scss/mixin.scss';

.tabCloseBtn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 25px;
  height: 100%;
  border: none;
  border-top-right-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  transition: all 0.2s linear;

  &:hover::before {
    background-color: $main-red-color;
    transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
  }

  &:hover::after {
    background-color: $main-red-color;
    transform: translate(-50%, -50%) rotate(-45deg) scale(1.2);
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 70%;
    height: 1px;
    background-color: $black-color;
    transition: all 0.2s linear;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.contarctorClose {
  top: 4px;
  right: 4px;
  transform: translateY(0);
}
